:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
/* page */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white);
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* (title & text & logo) */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
}
.under-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
/* ============== PAGE-HEADER ============= */
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
/*  -- Logo --  */
.logo-header {
  margin-right: 76px;
}
.logo-part {
  color: var(--navy-blue);
}
/* -- Nav List -- */
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
/* -- Address --*/
.address {
  font-style: normal;
  display: flex;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
/* ============== PAGE-MAIN CONTENT ============ */
/* ==== HERO SECTION ==== */
.hero-section {
  background-color: var(--navy-blue);
  max-width: 1400px;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}

.headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
/* Hero-Button */
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  background-color: var(--iris);
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* ==== TEH STACK SECTION ==== */

.teh-stack-list {
  display: flex;
  max-width: 1128px;
  gap: 24px;
  margin-right: auto;
  margin-left: auto;
}
.teh-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.teh-item-title {
  margin-bottom: 8px;
}

/* ==== TEAM SECTION ==== */

.team-section {
  background-color: var(--cloud);
}

.team-section-container {
}
.team-section-title {
  margin-bottom: 72px;
}
.team-section-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background: var(--white);
  text-align: center;
  width: 264px;
  height: 380px;
  padding: 0px 0px 32px 0px;

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.team-item-box {
  padding: 32px 0;
}
.team-item-title {
  margin-bottom: 8px;
}
/* ==== PORTFOLIO SECTION ==== */
.portfolio-section-title {
  margin-bottom: 72px;
}
.portfolio-section-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-list-item {
  background: var(--white);
  width: 360px;
  height: 420px;
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.portfolio-item-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-under-title {
  margin-bottom: 8px;
}
/* ============= PAGE FOOTER ============= */
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-part-footer {
  color: var(--cloud);
}
.text-footer {
  color: var(--cloud);

  width: 264px;
}
